@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

html {
	background-color: #fdfdfd;
}

@font-face {
  font-family: AvenirNext;
  src: url(AvenirNext-Regular.woff);
}

@font-face {
  font-family: AvenirNext;
  src: url(AvenirNext-Italic.woff);
  font-style: italic;
}

@font-face {
  font-family: AvenirNext;
  src: url(AvenirNext-DemiBold.woff);
  font-weight: bold;
}

@font-face {
  font-family: AvenirNext;
  src: url(AvenirNext-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: AvenirNext;
  src: url(AvenirNext-DemiBoldItalic.woff);
  font-style: italic;
  font-weight: bold;
}

body {
	color: #323232;
	width: 28em;
	font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
	margin: 0 auto;
	padding-top: 3em;
	text-align: justify;
    font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body.portrait {
    width: 90%;
}
body.landscape {
    width: 55%;
}

a {
	/* color: #Df0025; */
  color: #324b95;
	text-decoration: none;
	font-weight: 500;
}

a:hover {
	/*color: #aF0045;*/
  color:#5587c1;
}

br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 0.8em; /* change this to whatever height you want it */
}

#header {
    width: 100%;
    text-align: center;
/*     height: 15em; */
    display: none;
}
#header #profile {
    height: auto;
    width: 12em;
    margin: 0 auto;
    display: none;
}

/*#header img {
	opacity:0.85;
}*/

#description {
    margin-bottom: 2em;
    width: 100%;
}
#description .title p {
    font-weight: 800;
    text-align: center;
    font-size: 2em;
    margin: 0.4em;
}

.section .title {
    margin-bottom: 1.5em;
}
.section .title p {
    font-weight: 700;
    border-left: 0.3em solid #2e3d54;
    padding-left: 0.6em;
    font-size: 1.3em;
}
.section .entry p {
    margin: 0 0;
    text-align:left;
}
.section .separator {
    border-top: 1px solid #eee;
    margin: 1.5em 0;
    width: 100%;
}
.section {
    margin-bottom: 3em;
}

/*#pubs .entry {
    font-size: 0.85em;
}*/

#footer {
  color: #454545;
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 3em;
}